#adminmenu {
  margin-top: 0em;
  margin-left:auto;
  margin-right:auto;
  border: solid thin;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  color: black;
  background-color: #edf2f2;
  font-weight: normal;
  vertical-align: middle;
  table-layout: fixed;
}

#adminmenu a:link, #adminmenu a:visited {
  color: #039;
  background-color: transparent;
}

#adminmenu a:hover, #adminmenu a:active {
  color: red;
  background-color: transparent;
}

#adminmenu td {
  border: solid thin;
  padding: 0.2em 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#adminmenu tr {
  vertical-align: middle;
  height: 52px;
}

#center {
    text-align: center;
}

table.center {

}
