#Git Ignore File
*~
/pdf/
/html/
index.html
config.php
local.conf
testparams.json
database.php
constants.php
mailer.testfile
cache.properties
/nbproject/
/vendor/
composer.phar
.phpunit.result.cache
.directory
/tools/
