<?php
/**
 * Configuration for Webtemplate install
 *
 * LICENSE: This source file is subject to version 2.1 of the GPL license
 * that is available through the world-wide-web at the following URI:
 * http://www.gnu.org/copyleft/lesser.html.
 *
 * @category  Webtemplate
 * @author    Sandy McNeil <g7mzrdev@gmail.com>
 * @copyright 2020 Sandy McNeil
 * @license   http://www.gnu.org/copyleft/lesser.html  LGPL License 2.1
 * @link      http://www.g7mzr.demon.co.uk
 */

/* Database type. Normally pgsql */
$installConfig['database_type']             = '';

/* Database Super User.  Only used to configure the database */
$installConfig['database_superuser']        = '';
$installConfig['database_superuser_passwd'] = '';

/* Normal User for application */
$installConfig['database_user']             = '';
$installConfig['database_user_passwd']      = '';

/* Name of Host that Database is installed on */
$installConfig['database_host']             = '';

/* Name of the database */
$installConfig['database_name']             = '';

/* Linux group that the Webserver runs under */
$installConfig['webservergroup']            = '';

?>
